# Clustering the google_review_ratings dataset

Testing the ability for clustering algorithms to categorize chosen

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [3]:
grr = pd.read_csv('google_review_ratings2.csv', index_col=False)

In [4]:
grr.head()

,user_id,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,...,dance-clubs,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Unnamed: 25
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
3,User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
4,User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
# Rounding ALL categories to integers for simplicity of processing and comprehending.
import numpy as np
grr2 = np.round(grr, decimals=0)
grr2.index += 1 
grr2.tail()

,user_id,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,...,dance-clubs,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Unnamed: 25
5452,User 5452,1.0,5.0,4.0,3.0,3.0,3.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,2.0,NaN
5453,User 5453,1.0,5.0,4.0,3.0,3.0,3.0,2.0,1.0,2.0,...,1.0,1.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,NaN
5454,User 5454,1.0,5.0,4.0,3.0,3.0,3.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,1.0,NaN
5455,User 5455,1.0,4.0,4.0,3.0,3.0,2.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,1.0,NaN
5456,User 5456,1.0,4.0,5.0,3.0,3.0,3.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,1.0,NaN

is_zero =  grr2==0.0
is_one = grr2==1.0
is_two = grr2==2.0
is_three = grr2==3.0
is_four = grr2==4.0
is_five = grr2==5.0

zero_frame = grr2[is_zero]
one_frame = grr2[is_one]
two_frame = grr2[is_two]
three_frame = grr2[is_three]
four_frame = grr2[is_four]
five_frame = grr2[is_five]

five_frame.head()

In [6]:
five_frame = grr2.apply(lambda row: row[row == 5.0].index.tolist(), axis=1)
four_frame = grr2.apply(lambda row: row[row == 4.0].index.tolist(), axis=1)
three_frame = grr2.apply(lambda row: row[row == 3.0].index.tolist(), axis=1)
two_frame = grr2.apply(lambda row: row[row == 2.0].index.tolist(), axis=1)
one_frame = grr2.apply(lambda row: row[row == 1.0].index.tolist(), axis=1)
zero_frame = grr2.apply(lambda row: row[row == 0.0].index.tolist(), axis=1)

In [7]:
grr3 = pd.DataFrame(five_frame.values)
grr3 = grr3.merge(pd.DataFrame(four_frame.values),left_index=True, right_index=True)
grr3 = grr3.merge(pd.DataFrame(three_frame.values),left_index=True, right_index=True)
grr3 = grr3.merge(pd.DataFrame(two_frame.values),left_index=True, right_index=True)
grr3 = grr3.merge(pd.DataFrame(one_frame.values),left_index=True, right_index=True)
grr3 = grr3.merge(pd.DataFrame(zero_frame.values),left_index=True, right_index=True)
grr3.index += 1 
grr3.columns = ['five_stars', 'four_stars', 'three_stars', 'two_stars', 'one_star', 'zero_star']

C:\Users\bkuro\Anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

In [8]:
grr3.head()

,five_stars,four_stars,three_stars,two_stars,one_star,zero_star
1,"[theatres, malls]","[beaches, parks]","[museums, pubs-bars]","[zoo, restaurants, burger-pizza, hotels-lodgin...",[dance-clubs],"[churches, resorts, swimming-pools, gyms, bake..."
2,"[theatres, malls]","[beaches, parks]","[museums, zoo, pubs-bars]","[restaurants, burger-pizza, hotels-lodgings, j...",[dance-clubs],"[churches, resorts, swimming-pools, gyms, bake..."
3,"[theatres, malls]","[beaches, parks]","[museums, zoo, pubs-bars]","[restaurants, burger-pizza, hotels-lodgings, j...",[dance-clubs],"[churches, resorts, swimming-pools, gyms, bake..."
4,"[theatres, malls]","[beaches, parks]","[museums, pubs-bars]","[zoo, restaurants, burger-pizza, hotels-lodgin...",[dance-clubs],"[churches, resorts, swimming-pools, gyms, bake..."
5,"[theatres, malls]","[beaches, parks]","[museums, zoo, pubs-bars]","[restaurants, burger-pizza, hotels-lodgings, j...",[dance-clubs],"[churches, resorts, swimming-pools, gyms, bake..."

In [9]:
grr3.to_csv('choices_by_star.csv')