## Cluster Analysis for Ideal Groups

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tabulate import tabulate as tb

Bad key text.latex.preview in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file C:\Users\bkuro\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
df = pd.read_csv('clustered_gd_noLSH.csv',header=0,index_col=False) 
df = df.set_index('user_id')
df = df.drop('Clusters5', 1)
df.head()

C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\418698332.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Clusters5', 1)

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,pubs-bars,...,dance-clubs,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Clusters4
user_id,,,,,,,,,,,,,,,,,,,,,
User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,2.65,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1

In [4]:
df.head()

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,pubs-bars,...,dance-clubs,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Clusters4
user_id,,,,,,,,,,,,,,,,,,,,,
User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,2.65,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1

In [5]:
# Get Cluster value tables
cluster1 = df.loc[df['Clusters4'] == 0]
cluster1 = cluster1.drop('Clusters4', 1)
cluster2 = df.loc[df['Clusters4'] == 1]
cluster2 = cluster2.drop('Clusters4', 1)
cluster3 = df.loc[df['Clusters4'] == 2]
cluster3 = cluster3.drop('Clusters4', 1)
cluster4 = df.loc[df['Clusters4'] == 3]
cluster4 = cluster4.drop('Clusters4', 1)

C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\2504140336.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  cluster1 = cluster1.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\2504140336.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  cluster2 = cluster2.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\2504140336.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  cluster3 = cluster3.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\2504140336.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  cluster4 = cluster4.drop('Clusters4', 1)

In [6]:
frames = [cluster1.mean(), cluster2.mean(), cluster3.mean(), cluster4.mean()]
multi_mean = pd.concat([cluster1.mean(), cluster2.mean(),cluster3.mean(),cluster4.mean()], axis=1)

In [7]:
multi_mean.rename(columns={0: 'Cluster1', 1: 'Cluster2',2: 'Cluster3', 3: 'Cluster4'}, inplace=True)

In [8]:
multi_mean

                Cluster1  Cluster2  Cluster3  Cluster4
churches        1.190203  1.490232  2.279961  1.030584
resorts         1.749976  2.701155  2.641268  2.075322
beaches         1.733534  3.229110  2.594759  2.083474
parks           2.178773  3.911306  2.529145  2.035137
theatres        2.411227  4.329525  2.255005  2.109157
museums         2.966198  3.732099  1.928319  2.404035
malls           3.994135  3.416384  1.923727  3.751057
zoo             3.717864  2.373319  1.571200  2.429579
restaurants     4.585589  2.615240  1.863589  3.448625
pubs-bars       4.135751  2.501058  1.734857  2.926534
burger-pizza    1.943591  1.992029  1.320433  2.889084
juice-bars      1.544167  1.628052  1.663274  3.944863
art-galleries   1.647994  1.295208  1.954700  4.150525
dance-clubs     0.970772  1.053411  1.546824  1.319239
swimming-pools  0.636661  0.720270  1.547119  1.098256
gyms            0.443948  0.544652  1.583363  0.975632
bakeries        0.438643  0.617199  2.136814  1.056548
beauty-spas     0.554013  0.707652  2.186450  0.912838
cafes           0.669651  0.776978  1.939164  0.760089
view-points     1.219115  1.933087  3.252134  0.850532
monuments       1.049927  1.702434  2.735015  0.829098
gardens         1.160983  1.724873  2.573117  0.938012

In [9]:
order1 = cluster1.mean().sort_values()
order1

bakeries          0.438643
gyms              0.443948
beauty-spas       0.554013
swimming-pools    0.636661
cafes             0.669651
dance-clubs       0.970772
monuments         1.049927
gardens           1.160983
churches          1.190203
view-points       1.219115
juice-bars        1.544167
art-galleries     1.647994
beaches           1.733534
resorts           1.749976
burger-pizza      1.943591
parks             2.178773
theatres          2.411227
museums           2.966198
zoo               3.717864
malls             3.994135
pubs-bars         4.135751
restaurants       4.585589
dtype: float64

In [10]:
order2 = cluster2.mean().sort_values()
order2

gyms              0.544652
bakeries          0.617199
beauty-spas       0.707652
swimming-pools    0.720270
cafes             0.776978
dance-clubs       1.053411
art-galleries     1.295208
churches          1.490232
juice-bars        1.628052
monuments         1.702434
gardens           1.724873
view-points       1.933087
burger-pizza      1.992029
zoo               2.373319
pubs-bars         2.501058
restaurants       2.615240
resorts           2.701155
beaches           3.229110
malls             3.416384
museums           3.732099
parks             3.911306
theatres          4.329525
dtype: float64

In [11]:
order3 = cluster3.mean().sort_values()
order3

burger-pizza      1.320433
dance-clubs       1.546824
swimming-pools    1.547119
zoo               1.571200
gyms              1.583363
juice-bars        1.663274
pubs-bars         1.734857
restaurants       1.863589
malls             1.923727
museums           1.928319
cafes             1.939164
art-galleries     1.954700
bakeries          2.136814
beauty-spas       2.186450
theatres          2.255005
churches          2.279961
parks             2.529145
gardens           2.573117
beaches           2.594759
resorts           2.641268
monuments         2.735015
view-points       3.252134
dtype: float64

In [12]:
order4 = cluster4.mean().sort_values()
order4

cafes             0.760089
monuments         0.829098
view-points       0.850532
beauty-spas       0.912838
gardens           0.938012
gyms              0.975632
churches          1.030584
bakeries          1.056548
swimming-pools    1.098256
dance-clubs       1.319239
parks             2.035137
resorts           2.075322
beaches           2.083474
theatres          2.109157
museums           2.404035
zoo               2.429579
burger-pizza      2.889084
pubs-bars         2.926534
restaurants       3.448625
malls             3.751057
juice-bars        3.944863
art-galleries     4.150525
dtype: float64

In [13]:
# FOOD EXCLUDED

In [19]:
df2 = df
df2.head()

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,art-galleries,dance-clubs,swimming-pools,gyms,beauty-spas,view-points,monuments,gardens,Clusters4
user_id,,,,,,,,,,,,,,,,,
User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,1.74,0.59,0.5,0.0,0.0,0.0,0.0,0.0,1
User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,1.74,0.59,0.5,0.0,0.0,0.0,0.0,0.0,1
User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,1.74,0.59,0.5,0.0,0.0,0.0,0.0,0.0,1
User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,1.74,0.59,0.5,0.0,0.0,0.0,0.0,0.0,1
User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,1.74,0.59,0.5,0.0,0.0,0.0,0.0,0.0,1

In [20]:
df2 = df2.drop(['cafes', 'bakeries','burger-pizza','pubs-bars','restaurants','juice-bars'], axis=1, inplace=True)

KeyError: "['cafes', 'bakeries', 'burger-pizza', 'pubs-bars', 'restaurants', 'juice-bars'] not found in axis"

In [21]:
# Get Cluster value tables
c1 = df2.loc[df2['Clusters4'] == 0]
c1 = c1.drop('Clusters4', 1)
c2 = df2.loc[df2['Clusters4'] == 1]
c2 = c2.drop('Clusters4', 1)
c3 = df2.loc[df2['Clusters4'] == 2]
c3 = c3.drop('Clusters4', 1)
c4 = df2.loc[df2['Clusters4'] == 3]
c4 = c4.drop('Clusters4', 1)

C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\3666004544.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  c1 = c1.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\3666004544.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  c2 = c2.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\3666004544.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  c3 = c3.drop('Clusters4', 1)
C:\Users\bkuro\AppData\Local\Temp\ipykernel_39232\3666004544.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  c4 = c4.drop('Clusters4', 1)

In [22]:
frames2 = [c1.mean(), c2.mean(), c3.mean(), c4.mean()]
multi_mean2 = pd.concat([c1.mean(), c2.mean(),c3.mean(),c4.mean()], axis=1)

In [23]:
multi_mean2.rename(columns={0: 'Cluster1', 1: 'Cluster2',2: 'Cluster3', 3: 'Cluster4'}, inplace=True)

In [24]:
multi_mean2

                Cluster1  Cluster2  Cluster3  Cluster4
churches        1.190203  1.490232  2.279961  1.030584
resorts         1.749976  2.701155  2.641268  2.075322
beaches         1.733534  3.229110  2.594759  2.083474
parks           2.178773  3.911306  2.529145  2.035137
theatres        2.411227  4.329525  2.255005  2.109157
museums         2.966198  3.732099  1.928319  2.404035
malls           3.994135  3.416384  1.923727  3.751057
zoo             3.717864  2.373319  1.571200  2.429579
art-galleries   1.647994  1.295208  1.954700  4.150525
dance-clubs     0.970772  1.053411  1.546824  1.319239
swimming-pools  0.636661  0.720270  1.547119  1.098256
gyms            0.443948  0.544652  1.583363  0.975632
beauty-spas     0.554013  0.707652  2.186450  0.912838
view-points     1.219115  1.933087  3.252134  0.850532
monuments       1.049927  1.702434  2.735015  0.829098
gardens         1.160983  1.724873  2.573117  0.938012

In [25]:
o1 = c1.mean().sort_values()
o1

gyms              0.443948
beauty-spas       0.554013
swimming-pools    0.636661
dance-clubs       0.970772
monuments         1.049927
gardens           1.160983
churches          1.190203
view-points       1.219115
art-galleries     1.647994
beaches           1.733534
resorts           1.749976
parks             2.178773
theatres          2.411227
museums           2.966198
zoo               3.717864
malls             3.994135
dtype: float64

In [26]:
o2 = c2.mean().sort_values()
o2

gyms              0.544652
beauty-spas       0.707652
swimming-pools    0.720270
dance-clubs       1.053411
art-galleries     1.295208
churches          1.490232
monuments         1.702434
gardens           1.724873
view-points       1.933087
zoo               2.373319
resorts           2.701155
beaches           3.229110
malls             3.416384
museums           3.732099
parks             3.911306
theatres          4.329525
dtype: float64

In [27]:
o3 = c3.mean().sort_values()
o3

dance-clubs       1.546824
swimming-pools    1.547119
zoo               1.571200
gyms              1.583363
malls             1.923727
museums           1.928319
art-galleries     1.954700
beauty-spas       2.186450
theatres          2.255005
churches          2.279961
parks             2.529145
gardens           2.573117
beaches           2.594759
resorts           2.641268
monuments         2.735015
view-points       3.252134
dtype: float64

In [28]:
o4 = c4.mean().sort_values()
o4

monuments         0.829098
view-points       0.850532
beauty-spas       0.912838
gardens           0.938012
gyms              0.975632
churches          1.030584
swimming-pools    1.098256
dance-clubs       1.319239
parks             2.035137
resorts           2.075322
beaches           2.083474
theatres          2.109157
museums           2.404035
zoo               2.429579
malls             3.751057
art-galleries     4.150525
dtype: float64