In [25]:
import pandas as pd
import csv
import os
import matplotlib as plt

In [26]:
# other clustering, path:
# PCA_BK\clustered_google_data_1.csv
# PCA_BK_NoLS\clustered_gd_noLS.csv
# PCA_BK_NoLocalSHotel\clustered_gd_noLSH.csv
# path could be improved

cluster_ratings = pd.read_csv("..\PCA_BK_NoLocalSHotel\clustered_gd_noLSH.csv")

In [27]:
cluster_ratings.head()

,user_id,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,...,swimming-pools,gyms,bakeries,beauty-spas,cafes,view-points,monuments,gardens,Clusters4,Clusters5
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
3,User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1
4,User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1,1

In [28]:
#Clean the data

# Rename columns to appropriate place `type` 

cluster_ratings = cluster_ratings.rename({'churches': 'place_of_worship',
                                                 'resorts': 'resort',
                                                 'beaches': 'beach',
                                                 'parks': 'park',
                                                 'theatres': 'movie_theater',
                                                 'museums': 'museum',
                                                 'malls': 'shopping_mall',
                                                 'restaurants': 'restaurant',
                                                 'pubs-bars': 'bar',
                                                 'art-galleries': 'art_gallery',
                                                 'dance-clubs': 'night_club',
                                                 'gyms': 'gym',
                                                 'beauty-spas': 'beauty-hair-spa',
                                                 'bakeries': 'bakery',
                                                 'cafes': 'cafe',
                                                 'monuments': 'monument'
                                                 }, axis=1)

#Drop 5-cluster
cluster_ratings = cluster_ratings.drop('user_id', axis=1)
cluster_ratings = cluster_ratings.drop('Clusters5', axis=1)

cluster_ratings.head(5)

,place_of_worship,resort,beach,park,movie_theater,museum,shopping_mall,zoo,restaurant,bar,...,night_club,swimming-pools,gym,bakery,beauty-hair-spa,cafe,view-points,monument,gardens,Clusters4
0,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,2.65,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,2.64,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,1

In [29]:
# find the mean of ratings by cluster and combine
cluster_0 = cluster_ratings[cluster_ratings.Clusters4 == 0].mean(axis=0,skipna=True)
cluster_1 = cluster_ratings[cluster_ratings.Clusters4 == 1].mean(axis=0,skipna=True)
cluster_2 = cluster_ratings[cluster_ratings.Clusters4 == 2].mean(axis=0,skipna=True)
cluster_3 = cluster_ratings[cluster_ratings.Clusters4 == 3].mean(axis=0,skipna=True)

In [30]:
weight = pd.DataFrame([cluster_0, cluster_1, cluster_2, cluster_3])
weight = weight.rename(index={0: "cluster0", 1: "cluster1", 2: "cluster2", 3:"cluster3"})
weight = weight.drop(labels='Clusters4', axis=1)
weight.head()

,place_of_worship,resort,beach,park,movie_theater,museum,shopping_mall,zoo,restaurant,bar,...,art_gallery,night_club,swimming-pools,gym,bakery,beauty-hair-spa,cafe,view-points,monument,gardens
cluster0,1.190203,1.749976,1.733534,2.178773,2.411227,2.966198,3.994135,3.717864,4.585589,4.135751,...,1.647994,0.970772,0.636661,0.443948,0.438643,0.554013,0.669651,1.219115,1.049927,1.160983
cluster1,1.490232,2.701155,3.229110,3.911306,4.329525,3.732099,3.416384,2.373319,2.615240,2.501058,...,1.295208,1.053411,0.720270,0.544652,0.617199,0.707652,0.776978,1.933087,1.702434,1.724873
cluster2,2.279961,2.641268,2.594759,2.529145,2.255005,1.928319,1.923727,1.571200,1.863589,1.734857,...,1.954700,1.546824,1.547119,1.583363,2.136814,2.186450,1.939164,3.252134,2.735015,2.573117
cluster3,1.030584,2.075322,2.083474,2.035137,2.109157,2.404035,3.751057,2.429579,3.448625,2.926534,...,4.150525,1.319239,1.098256,0.975632,1.056548,0.912838,0.760089,0.850532,0.829098,0.938012

In [31]:
weight.style.background_gradient(cmap='YlGn', high=2)

In [32]:
# write the weights to .csv
os.makedirs('Output', exist_ok=True)
weight.to_csv('Output/weights.csv')